@mixin shadow{
	-webkit-box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.23);
	-moz-box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.23);
	box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.23);
}

@mixin gradient{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#006c7d+0,7db9e8+100 */
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#006c7d+0,0193a1+100 */
background: #006c7d; /* Old browsers */
background: -moz-linear-gradient(45deg,  #006c7d 0%, #0193a1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #006c7d 0%,#0193a1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #006c7d 0%,#0193a1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006c7d', endColorstr='#0193a1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@mixin gradien-radial-white{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+52&1+0,1+51,0+100 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,0.98) 52%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.98) 52%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.98) 52%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


@mixin tranz{
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}